[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Name=winks-up
Name[it_IT]=wup
Icon=/home/vroby/.config/w-up/w-up.png
Exec=w-up
Comment[it_IT]=
